  <div class="py-2" style="background-color: #EEEEEE;">
    <div class="container">
      <div class="d-flex justify-content-between">
          <div class="f-flex flex-column">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3A98B9;">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if customer_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'プロフィール', customers_profile_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '商品一覧', items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'カート', destroy_customer_session_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark border rounded btn' %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to '商品一覧', admin_items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '会員一覧', admin_customers_path,class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '注文履歴一覧', destroy_admin_session_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ジャンル一覧', admin_categories_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-dark border rounded btn" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'About', about_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '商品一覧', new_customer_registration_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link text-dark border rounded btn mr-3' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark border rounded btn' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>