<header>
  <div class="py-2" style="background-color: #FFF5EE;">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h1>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "rounded-circle mb-0", style: "background-color: #FFSEE; padding-top: 4px; height: 96px; line-height: 96px;" %>
          <% end %>
        </h1>
          <div class="f-flex flex-column">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF5EE;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <% if customer_signed_in? %>
                  <p class="mb-0 mr-3" style="height: 42px;line-height: 42px;">ようこそ、<%= current_customer.first_name %>さん！</p>
                  <li class="nav-item">
                    <%= link_to 'プロフィール', customers_mypage_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '商品一覧', items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'カート', cart_items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark border rounded btn' %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to '商品一覧', admin_items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '会員一覧', admin_customers_path,class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '注文履歴一覧', admin_root_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ジャンル一覧', admin_genres_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-dark border rounded btn" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'About', about_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '商品一覧', items_path, class: "nav-link text-dark border rounded btn mr-3" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link text-dark border rounded btn mr-3' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark border rounded btn' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
          <div class="mr-3" style="position: relative">
            <%= form_with url: search_path, method: :get do |f| %>
            <%= f.text_field :word, placeholder: 'Search', class: "ml-auto form-control", style: "width: 250px;" %>
              <%= f.button type: "submit", class: "btn btn-defalt", style: "position: absolute; top: 0px; right: 0px;" do %>
                <i class="fas fa-search text-dark"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>